<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stpid LGH</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
<body>
    <div style="padding: 100px; align-items: center; justify-content: center; display: flex;">
        <div style="padding: 60px; border-radius: 12px; font-size: 1.8rem; width: 60%; background-color: rgb(180, 180, 180); display: flex; align-items: center; flex-direction: column;">
            <div>strongbow làm ta say cà phê làm ta tỉnh</div>
            <div style="margin-bottom: 48px;">đm LGH làm tôi thức</div>
    
            <a href="{{url_for('create')}}" >Tạo lời chúc</a>
        </div>

    </div>
</body>
</html>